<section class=" mx mx-auto p-6 border-lime-100 list-container">
    <% if(locals.toBuy){ %>
    <table class="table-auto">
        <thead>
          <tr>
            <th>STATUS</th>
            <th>NAME</th>
            <th>QTY</th>
            <th>PRICE</th>
          </tr>
        </thead>
        <tbody>
            <% for(let i =0;i<toBuy.length;i++) { %>
            <tr>
                <td><input type="checkbox" onclick="toggleStrike(this)"></td>
                <td class="todo-item"><%= toBuy[i].name %></td>
                <td><%= toBuy[i].quantity %></td>
                <td><%= toBuy[i].price %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <% }   %>
</section>