<section class=" mx mx-auto p-6 border-lime-100 list-container">
    <% if(locals.toBuy){ %>
    <table class="table-auto">
        <thead>
          <tr>
            <th>STATUS</th>
            <th>NAME</th>
            <th>QTY</th>
            <th>PRICE</th>
          </tr>
        </thead>
        <tbody>
            <% toBuy.forEach(function(item) { %>
              <form action="/status" method="post">
            <tr>
                <td><input type="checkbox" value="<%=item._id%>" onclick="toggleStrike(this)" name="checkbox" onChange="this.form.submit()"></td>
                <td class="todo-item"><%= item.name %></td>
                <td><%= item.quantity %></td>
                <td><%= item.price %></td>
            </tr>
          </form>
            <% }) %>
        </tbody>
    </table>
    <% }   %>
</section>