<%- include('partials/header.ejs') %>

<main class="container m-auto font-sans ">
    <section class="flex gap-6 p-2.5">
        <a href="/user1" method="post">User 1</a>
        <a href="/user2" method="post">User 2</a>
    </section>

    <section class="text-center">
        <h1 class="text-4xl ">Grocery List</h1>
        <p><%- include('partials/dateToday.ejs') %></p>
    </section>
    


    
</main>
    

<%- include('partials/footer.ejs') %>
