<%- include('partials/header.ejs') %>


<main class="main-container">
    <div class="container m-auto font-sans text-center z-10 text-white	">
        <section class="flex gap-6 p-2.5">
            <!-- <a href="/" method="post">Joan</a>
            <a href="/user2" method="post">Thelma</a> -->
            &nbsp;
        </section>
    
        <section class="text-center">
            <h1 class="text-4xl ">Grocery List</h1>
            <p><%- include('partials/dateToday.ejs') %></p>
        </section>
        
        <section class="container mx-auto  text-black">
            <div class="col p-6 mx-auto m-10 ">
                <form action="/submit" method="post" class="flex place-content-center flex-wrap gap-3">
                <input type="text" name="product" placeholder="Product Name" class="bg-lime-100 p-3 product-el">
                <input type="number" min="0" name="quantity" placeholder="Quantity" class="bg-lime-100 p-3 quantity-el">
                <input type="number" min="0" name="price" placeholder="Price" class="bg-lime-100 p-3 price-el">
                <input type="submit" value="Add" class="rounded-full bg-lime-400 px-10 py-2.5">
                 </form>
            </div>
        </section>
        
        <%- include('partials/list.ejs') %>
    
        <% if (locals.toBuy && locals.toBuy.length > 0) { %>
            <section class="mx-auto mt-4">
                <form action="/clear" method="">
                    <input type="submit" value="Clear List" class="rounded-full bg-red-400 px-6 py-2.5">
                </form>
            </section>
        <% } %>
    
    </div>
</main>
    


<%- include('partials/animatedBackground.ejs') %>